* {
    box-sizing: border-box;
    
}

body {
    background-color: #154a68;
    overflow: hidden;
}

.container {
    max-width: 100%;
}

.tabs {
    width: 100%;
    background-color: blue;
    position: relative;
    display: flex;
}

input[type="radio"] {
    display: none;
}

.btn {
    width: 40%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.tabs__content {
    visibility: hidden;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 1;
}

#first-topic-id:checked ~ .tabs__content-first,
#second-topic-id:checked ~ .tabs__content-second,
#third-topic-id:checked ~ .tabs__content-third,
#third-topic-id:checked ~ .tabs__content-four  {
    visibility:visible;
}

#first-topic-id:checked ~ .btn-1,
#second-topic-id:checked ~ .btn-2,
#third-topic-id:checked ~ .btn-3 {
    background-color: #e2e6fd;
    border: 1px solid rgb(111, 111, 111);
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}